<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Usuario</title>
    <link rel="stylesheet" href="../static/css/search.css">
</head>
<body>
    <div class="container">
        <div id="central">
            <h1 class="titulo">Información del Usuario</h1>
            <form action="/searched_user" method="get">
                <label for="cedula">Ingrese la cédula del usuario a buscar:</label>
                <input type="text" id="cedula" name="cedula" placeholder="Cédula" required>

                <button type="submit">Buscar</button>
            </form>
            {% if user %}
                <h1>La cédula del usuario buscado es: {{ user.cedula }}</h1>
                <p>Nombre: {{ user.nombre }}</p>
                <p>Teléfono: {{ user.telefono }}</p>
                <p>Correo Electrónico: {{ user.correo_electronico }}</p>
                <p>Tipo de Evento: {{ user.tipo_evento }}</p>
                <p>Texto Original: {{ user.texto_original }}</p>
                <p>Texto Procesado: {{ user.texto_procesado }}</p>
                <p>Fecha y Hora: {{ user.fecha_hora }}</p>
            {% else %}
                <p>No se encontró ningún usuario con esa cédula.</p>
            {% endif %}
            <button class="button" id="backButton">Volver al Menú</button>
        </div>
    </div>
    <script>
        // Obtener referencia al botón
        var backButton = document.getElementById('backButton');

        // Agregar un event listener para el evento 'click'
        backButton.addEventListener('click', function() {
            // Redirigir al usuario a la página principal de Flask
            window.location.href = '/';
        });
    </script>
</body>
</html>
